<!DOCTYPE html>
<html>
  <head>
    <title>WillItWorkWithMyTV</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <br/>
    <h1>WillItWorkWithMyTV</h1>
    <h2>Stop hunting for your old remote, and find a new one today!</h2>
    <p><small>!!! Please note that this is a toy project for penetration testing.
              !!! This code contains intentional bugs and security flaws. !!!</small></p>
  </body>
</html>
